{{define "head"}}{{end}}
{{define "body"}}
    <div v-if="html_err != ''">${html_err}</div>
    <div v-else>
        <div class="card  bg-white rounded">
            <h5 class="card-header">SEO设置</h5>
            <div class="card-body col-md-8 align-self-center">
                <form id="f1" novalidate="novalidate" class="row g-3 needs-validation was-validated">
                    <div class="col-md-12">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" v-model="seo.register" :checked="seo.register">
                            <label class="form-check-label" for="flexSwitchCheckDefault">开启注册</label>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div>
                            <label class="form-label">爬虫签名</label>
                            <input type="text" class="form-control is-valid" v-model="seo.spider_sign" required>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div>
                            <label class="form-label"></label>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault111" v-model="seo.send_article" :checked="seo.send_article">
                                <label class="form-check-label" for="flexSwitchCheckDefault111">审核 [ 发布文章 ]</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div>
                            <label class="form-label"></label>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault111" v-model="seo.article_comment_root" :checked="seo.article_comment_root">
                                <label class="form-check-label" for="flexSwitchCheckDefault111">审核 [ 发布文章Root ]</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div>
                            <label class="form-label"></label>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault111" v-model="seo.article_comment_child" :checked="seo.article_comment_child">
                                <label class="form-check-label" for="flexSwitchCheckDefault111">审核 [ 发布文章Child ]</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div>
                            <label class="form-label"></label>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault111" v-model="seo.send_question" :checked="seo.send_question">
                                <label class="form-check-label" for="flexSwitchCheckDefault111">审核 [ 发布提问 ]</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div>
                            <label class="form-label"></label>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault111" v-model="seo.question_comment_root" :checked="seo.question_comment_root">
                                <label class="form-check-label" for="flexSwitchCheckDefault111">审核 [ 发布提问Root ]</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div>
                            <label class="form-label"></label>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault111" v-model="seo.question_comment_child" :checked="seo.question_comment_child">
                                <label class="form-check-label" for="flexSwitchCheckDefault111">审核 [ 发布提问Child ]</label>
                            </div>
                        </div>
                    </div>



                    <div v-if="ajax_message != ''">${ajax_message}</div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-primary"  @click.prevent="submit($event)">提交修改</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
{{end}}
{{define "js"}}
    <script>
        var app = new Vue({
            el: '#vue-app',
            delimiters:['${','}'],
            data() {
                return {
                    view_data:JSON.parse("{{.send_list|json}}"),
                    seo:{},
                    html_err:'',
                    ajax_message:'',
                }
            },
            created(){
                get("/config/api_auth").then(res => {
                    if (res.code === 1){
                        this.seo  = res.data
                    }else{
                        this.html_err = '刷新重新加载数据'
                    }
                })
            },
            methods: {
                submit(e) {
                    this.ajax_message= '开始提交';
                    post('/config/api_auth',this.seo).then(res =>{
                        this.ajax_message = res.message;
                        console.log(res)
                    })
                }
            }
        })
    </script>
{{end}}