{{define "head"}}
    <link rel="stylesheet" href="{{st "/css/manage.css"}}">
{{end}}
{{define "body"}}
    {{include "m_member/_0_left"}}
    <div class="card  bg-white rounded">
        <div @click="create_index"> 点击创建索引 </div>
        <table>
            <tr  v-for="item in seo">
                <td> ${item.coll}</td> <td>${item.index}</td>
            </tr>
        </table>
    </div>
    {{include "m_member/_0_right"}}
{{end}}
{{define "js"}}
    <script>
        var app = new Vue({
            el: '#vue-app',
            delimiters:['${','}'],
            data() {
                return {
                    view_data:{xxx:[], root:[],nav:[]},
                    seo:[],
                    html_err:'',
                    ajax_message:'',
                }
            },
            created(){
                get("/config/db_index").then(res => {
                    if (res.code === 1){
                        this.seo  = res.data
                    }else{
                        this.html_err = '刷新重新加载数据'
                    }
                });

                post("/member_nav").then(res => {
                    if (res.code === 1){
                        this.view_data = res.data;
                    }
                })

            },
            methods: {
                submit(e) {
                    this.ajax_message= '开始提交';
                    post('/config/seo',this.seo).then(res =>{
                        this.ajax_message = res.message;
                        console.log(res)
                    })
                },
                create_index(){
                    get('/config/create_index')
                }
            }
        })
    </script>
{{end}}