{{define "head"}}{{end}}
{{define "body"}}
    <div v-if="html_err != ''">${html_err}</div>
    <div v-else>
        <div class="card  bg-white rounded">
            <table>
                <tr  v-for="item in seo">
                    <td> ${item.coll}</td> <td>${item.index}</td>
                </tr>
            </table>
        </div>
    </div>
{{end}}
{{define "js"}}
    <script>
        var app = new Vue({
            el: '#vue-app',
            delimiters:['${','}'],
            data() {
                return {
                    view_data:JSON.parse("{{.send_list|json}}"),
                    seo:[],
                    html_err:'',
                    ajax_message:'',
                }
            },
            created(){
                get("/config/db_index").then(res => {
                    if (res.code === 1){
                        this.seo  = res.data
                    }else{
                        this.html_err = '刷新重新加载数据'
                    }
                })
            },
            methods: {
                submit(e) {
                    this.ajax_message= '开始提交';
                    post('/config/seo',this.seo).then(res =>{
                        this.ajax_message = res.message;
                        console.log(res)
                    })
                }
            }
        })
    </script>
{{end}}