{{define "head"}}{{end}}
{{define "body"}}
<div v-if="html_err != ''">${html_err}</div>
<div v-else>
    <div class="card  bg-white rounded">
        <h5 class="card-header">SEO设置</h5>
        <div class="card-body col-md-8 align-self-center">
            <form id="f1" novalidate="novalidate" class="row g-3 needs-validation was-validated">
                <div class="col-md-12">
                    <label class="form-label">Title</label>
                    <textarea class="form-control  is-invalid" rows="3" v-model="seo.t" required></textarea>
                </div>

                <div class="col-md-12">
                    <label  class="form-label">KeyWords</label>
                    <textarea class="form-control  is-invalid" rows="3" v-model="seo.k" required></textarea>
                </div>
                <div class="col-md-12">
                    <label  class="form-label">Description</label>
                    <textarea class="form-control  is-invalid" rows="3" v-model="seo.d" required></textarea>
                </div>

                <div>
                    <label class="form-label">短标题</label>
                    <input type="text" class="form-control is-valid" v-model="seo.t_" required>
                </div>

                <div>
                    <label class="form-label">标题分隔符</label>
                    <input type="text" class="form-control is-valid" v-model="seo.title_delimiter" required>
                </div>

                <div class="col-12">
                    <label  class="form-label">动态-Title</label>
                    <textarea class="form-control  is-invalid" rows="3" v-model="seo.activity.t" required></textarea>
                </div>

                <div class="col-12">
                    <label  class="form-label">动态-Keywords</label>
                    <textarea class="form-control  is-invalid" rows="3" v-model="seo.activity.k" required></textarea>
                </div>

                <div class="col-12">
                    <label  class="form-label">动态-Description</label>
                    <textarea class="form-control  is-invalid" rows="3" v-model="seo.activity.d" required></textarea>
                </div>

                <div v-if="ajax_message != ''">${ajax_message}</div>

                <div class="col-12">
                    <button type="submit" class="btn btn-primary"  @click.prevent="submit($event)">提交修改</button>
                </div>

            </form>
        </div>
    </div>
</div>
{{end}}
{{define "js"}}
<script>
    var app = new Vue({
        el: '#vue-app',
        delimiters:['${','}'],
        data() {
            return {
                view_data:JSON.parse("{{.send_list|json}}"),
                seo:{},
                html_err:'',
                ajax_message:'',
            }
        },
        created(){
            get("/config/seo").then(res => {
                if (res.code === 1){
                    this.seo  = res.data
                }else{
                    this.html_err = '刷新重新加载数据'
                }
            })
        },
        methods: {
            submit(e) {
                this.ajax_message= '开始提交';
                post('/config/seo',this.seo).then(res =>{
                    this.ajax_message = res.message;
                    console.log(res)
                })
            }
        }
    })
</script>
{{end}}