.s-list {
  $_red: red;
  $_blue: blue;
  border-bottom: 1px solid $s-list-border-color;
  padding: 15px 0;
  .i-tag-blue {
    font-size: 0.7777777777em;
    border: 1px solid $_blue;
    color: $_blue;
    padding: 1px 5px;
  }

  .i-tag-red {
    font-size: 0.7777777777em;
    border: 1px solid $_red;
    color: $_red;
    padding: 1px 5px;
  }

  .-title {
    @extend %s-list-title;
  }

  .-tip,.-zan{
    color: #8590a6;
    font-size: 0.8888888em;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .-text-des{
    font-size: 0888888em;
  }
  //第一个布局 对应 问题及文章列表
  .-l1{
    display: flex;

  }
  //第二个布局 对应 动态
  .-l2{
    display: flex;
  }
}