<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>wangEditor demo</title>
</head>
<body>
<div id="editor">
    <p>欢迎使用 <b>wangEditor</b> 富文本编辑器</p>
</div>

<!-- 注意， 只需要引用 JS，无需引用任何 CSS ！！！-->
<script type="text/javascript" src="http://127.0.0.1:8777/static/wangEditor-3.1.1/wangEditor.min.js"></script>
<script type="text/javascript">
    var  url = 'https://www.ucloud.cn/yun/d/file/2020-06-12/dc56b3ed7ed2d50dea90b465d31514a4.png'
    getBase64(url).then(base64 =>{
        console.log(base64)
    });

    function getBase64(img){
        function getBase64Image(img,width,height) {
            var canvas = document.createElement("canvas");
            canvas.width = width ? width : img.width;
            canvas.height = height ? height : img.height;
            var ctx = canvas.getContext("2d");
            ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
            var dataURL = canvas.toDataURL();
            return dataURL;
        }
        var image = new Image();
        image.crossOrigin = '';
        image.src = img;
        return new Promise((resolve,reject)=>{
            image.onload =function (){
                resolve(getBase64Image(image));//将base64传给done上传处理
            }
        });
    };
</script>
</body>
</html>