<div class="modal fade l" id="puper-view" tabindex="-1" aria-labelledby="puper-viewLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="puper-viewLabel">评论列表</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p v-if="discuss.message != ''">${discuss.message}</p>
                <div v-for="item in discuss.list" class="discuss-block g-0 flex-column clearfix ">
                    <div class="author-avatar pb-3">
                        <div class="col-auto mr-1">
                            <img :src="discuss_avatar(item.u1.avatar,25)" class="avatar-block" @click="m(item.u1.mid)">
                        </div>
                        <div class="align-self-center">
                            <div class="author-name" @click="m(item.u1.mid)">${item.u1.name} <span class="author-name-time small pl-4">${item.time}</span></div>
                            <div> <span v-if="item.u2 != undefined && item.u2.name != ''"> 回复 <span @click="m(item.u2.mid)" class="link-info">@${item.u2.name}</span> </span> ${item.txt}</div>
                        </div>
                    </div>
                    <div class="float-right text-right"> <span class="link-success reply pr-4" @click="active_reply(item)">回复</span> </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="w-100" v-if="discuss.active_reply_user.u1 != '' && discuss.active_reply_user.u1 != undefined ">
                    <div class="float-left">
                        <span class="link-success xxxxxxxxx">@ ${discuss.active_reply_user.u1.name}</span>
                        <button type="button" class="close link-danger" @click="active_reply_close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <textarea class="form-control" v-model="discuss.edit_child.txt"></textarea><br>

                <div v-if="discuss.ajax_message != ''" v-html="discuss.ajax_message"></div>
                <button class="btn btn-primary  mb-2 mt-2 float-right"  type="button" disabled v-if="discuss.wait_loading">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
                <button type="button" class="btn btn-primary" @click.prevent="submit_comment_child($event)" v-else>提交评论</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭浏览</button>
            </div>
        </div>
    </div>
</div>