<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{.t}}</title>
    <meta name="keywords" content="{{.k}}">
    <meta name="description" content="{{.d}}">
    <link href="{{st "/btv5/bootstrap.min.css" }}" rel="stylesheet" crossorigin="anonymous">
    <link href="{{st "/css/base.css"}}" rel="stylesheet">
    {{template "head" .}}
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark ">
    <div class="container">
        <a class="navbar-brand" href="{{u "/"}}">Fixed</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse vue-user-show" id="navbarCollapse" >
            <ul class="navbar-nav mr-auto mb-2 mb-md-0">
                {{range .home_nav}}
                    <li class="nav-item active">
                        <a class="nav-link" aria-current="page" href="{{.u}}">{{.t}}</a>
                    </li>
                {{end}}
            </ul>
            <div  v-if="user_info.mid == 0" >
                <ul class="navbar-nav mb-2 mb-md-0 navbar-right" >
                    <li class="nav-item" ><a class="nav-link" href="{{u "/login"}}">登录</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{u "/registered"}}">注册</a></li>
                </ul>
            </div>
            <div v-else >
                <ul class="navbar-nav mb-2 mb-md-0 navbar-right login-true" >
                    <li class="nav-item" >
                        <span @click="goMemberCentre">${user_info.name}</span>
                        <span @click="loginout">退出</span>
                    </li>
                </ul>
            </div>
            <form class="d-flex">
                <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="container {{.view_type}}" id="vue-app">
    {{$nav_len := len .navigation}}{{if ne $nav_len 0}} <div class="row"><nav class="-navigation "> {{range .navigation}} {{if eq .u ""}} <span>{{.t}}</span> {{else}} <a href="{{.u}}">{{.t}}</a>  {{end}}{{if .tag}} <span class="-tag" > \ </span>{{end}} {{end}}</nav> </div>{{end}}
    {{template "body" .}}
</div>
</body>
</html>
<script>const API = "{{._______API}}";const APITOKEN = '____token';const u_list = JSON.parse('{{.u_list|json}}');</script>
<script src="{{st "/btv5/bootstrap.bundle.min.js" }}"  crossorigin="anonymous" type="application/javascript"></script>
<script src="{{st "/btv5/axios.min.js"}}" type="application/javascript"></script>
<script type="application/javascript" src="{{st "/btv5/vue-dev.js"}}"></script>
<script type="application/javascript" src="{{st "/js/base.js"}}"></script>
{{template "js" .}}