{{define "head"}}
{{end}}
{{define "body"}}
    <div class="card  bg-white rounded">
        <h5 class="card-header">修改回答</h5>
        <div class="card-body col-md-12 align-self-center">
            <form class="row g-3 needs-validation was-validated" id="f1" novalidate>
                <div class="col-md-12">
                    <div id="f1-content"  spellcheck="false"></div>
                </div>

                <div v-if="ajax_message != ''">${ajax_message}</div>
                <div class="col-12">
                    <button class="btn btn-primary" type="button" disabled v-if="wait_loading">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>
                    <button class="btn btn-primary" type="submit"  v-else  @click.prevent="submit($event)"> 发布文章 </button>
                </div>

            </form>
        </div>
    </div>
{{end}}
{{define "js"}}
<script>let comment = JSON.parse('{{.comment|json}}');let DID={{.index.DID}}; const UploadServer = "{{.___upload_server}}";</script>
<script type="application/javascript" src="{{st "/wangEditor-3.1.1/wangEditor.min.js"}}"></script>

<script>
    var app = new Vue({
        el: '#vue-app',
        delimiters: ['${', '}'],
        data() {
            return {
                ajax_message: '',
                wait_loading: false,
                f1: {
                    'title': '',
                    'content': '',
                    'content_view': '',
                },
                default_data:'',
            }
        },
        created(){
            post('/question/get_self_answer',{did:DID}).then(res =>{
                if (res.code === 1){
                    console.log(res);

                    this.default_data = '<p><------占位符------></p>' + res.data.text +'<p><------占位符------></p>' ;
                    editor.txt.html(this.default_data);
                }else{
                    this.default_data = '加载失败'
                }
            })
        },
        methods: {
            submit(e) {
                let  txt = editor.txt.html();
                //禁用提交按钮
                this.wait_loading = true;
                this.ajax_message = '开始提交';
                post('/question/edit_self_answer',{did:DID,txt:txt}).then(res => {
                    this.ajax_message = res.message;
                }).catch(err => {
                    this.ajax_message = '接口错误';
                }).finally(()=>{
                    this.wait_loading = false
                })
            }
        }
    });

</script>
<script type="application/javascript" src="{{st "/js/question_editor.js"}}"></script>
{{end}}