@import "_var";

.container.article,.container.question{
  div.ly-left{
    background: unset;
    padding: unset!important;
  }
}
#puper-view .modal-content{
  min-height: 450px;
}

#article, #comment {
  padding: 1rem;
  h4, h5, h6 {
    font-size: $font-size;
  }

  h1, h2, h3 {
    font-weight: 600;
  }

  h3 {
    font-size: 1.13333333em;
  }

  h2 {
    font-size: 1.333333em;
  }

  h1 {
    font-size: 1.55555em;
  }

  .content {
    img {
      max-width: 95%;
    }
  }
}
#comment{
  margin-top: 15px;
}

// 以前的CSS 样式
#article {
  background: #FFF;
  border-radius: 2px;
  min-height: 150px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .03);
}

#article h1 {
  font-size: 1.544em;
  border-bottom: 1px solid #f0f0f0;
  padding: 15px 5px;
  font-weight: 700;
}

#article .title {
  position: relative;
}

#article .title span {
  background-color: #00AAEE;
  left: 0;
  width: 4em;
  height: 3px;
  bottom: -1px;
  position: absolute;
}

#article .info {
  font-size: 0.87777em;
  color: #828282;

}

#article .info a {
  text-decoration: none;
  color: #828282;
}

#article .author img {
  border-radius: 50%;
  border: 1px solid #b7b7b7;
  height: 20px;
  width: 20px;
  display: inline-block;
}

#article .author {
  margin-right: 15px;
}

#article .content {
  color: #333;
}

#comment {
  background: #FFF;
}

#comment h3 {
  font-size: 1.1111111em;
  font-weight: 700;
  border-bottom: 2px solid #00AAEE;
  display: inline;
}

#comment .title {
  border-bottom: 1px solid #f0f0f0;
}

.comment-size-tip {
  font-size: 0.86666rem;
}

.comment-block {
  border-bottom: 1px solid #b7b7b7;
}

.author-name {
  font-size: 15px;
  font-weight: 600;
}

.author-avatar img {
  border-radius: 5px;
  border: 1px solid #b7b7b7;
  height: 43px;
  width: 43px;
  display: block;
}

.author-avatar {
  cursor: pointer;
  display: flex;
}

.comment-block .tip {
  color: #8590a6;

}

.tools .discuss, .tools .report {
  cursor: pointer;
}

.tools .zan {
  padding: 5px 10px;
  color: #0084ff;
  background: rgba(0, 132, 255, .1);
  border-color: transparent;
  cursor: pointer;
  border-radius: 3px;


}

.tools .zan-active {
  color: #fff;
  background: #0084ff;
}

.discuss-block .avatar-block {
  border-radius: 5px;
  border: 1px solid #b7b7b7;
  height: 25px;
  width: 25px;
  display: block;
}

.discuss-block {
  display: flex
}

.xxxxxxxxx {
  position: relative;
  top: -2px;
}

.reply {
  cursor: pointer;
}

.author-name-time {
  font-size: 0.88888em;
  font-weight: 100;
}

.load-more-data {
  background: #428bca;
  color: #fff;
}

.collect-btn {
  border: 1px solid #428bca;
  color: #428bca;
  display: block;
  width: 73px;
  text-align: center;
  padding: 3px 3px;
  cursor: pointer;
}

.collect-btn-active {
  color: #fff;
  background: #428bca;
}

/** Question **/
.answer-edit {
  background: #FFF;
}

