{{define "head"}}{{end}}
{{define "body"}}
    {{include "layouts/_left_start"}}
        {{include "_list/home"}}
        <div v-for="item in load_list" v-html="item"></div>
        <div v-if="message != ''" v-html="message"></div>
        <a class="visually-hidden" href="{{.next_link}}">下一页</a>
    {{include "layouts/_left_stop"}}
    {{include "layouts/_right_start"}}
        <div class="-box">
            <div class="-title"> 热门文章</div>
            <ul class="list-unstyled ">
                {{range .article}}
                    <li><a href="{{.u}}" class="text-decoration-none">{{.t}}</a> </li>
                {{end}}
            </ul>
        </div>
        <div class="-box">
            <div class="-title"> 最新文章</div>
            <ul class="list-unstyled ">
                {{range .article_new}}
                    <li><a href="{{.u}}" class="text-decoration-none">{{.t}}</a> </li>
                {{end}}
            </ul>
        </div>
    {{include "layouts/_right_stop"}}
{{end}}
{{define "js"}}
<script src="{{st "/js/last_activity.js"}}"></script>
<script>app.next='{{.next_link}}'</script>
{{end}}