{{define "head"}}{{end}}
{{define "body"}}
    {{include "layouts/_left_start"}}
    <div class="card  bg-white rounded">
        <h5 class="card-header">发布文章</h5>
        <div class="card-body col-md-12 align-self-center">
            <form class="row g-3 needs-validation was-validated" id="f1" novalidate>
                <div class="col-md-12">
                    <div id="f1-content"  spellcheck="false"></div>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary" type="submit"  @click.prevent="submit($event)"> 提交 </button>
                </div>

            </form>
        </div>
    </div>
    {{include "layouts/_left_stop"}}
    {{include "layouts/_right_start"}}
    {{include "layouts/_right_stop"}}
{{end}}
{{define "js"}}
    <script>let form1 =JSON.parse( {{.f1|json}})</script>
    <script type="application/javascript" src="{{st "/wangEditor-3.1.1/wangEditor.min.js"}}"></script>
    <script>
        var app = new Vue({
            el: '#vue-app',
            delimiters: ['${', '}'],
            data(){
                return{
                    f1 : {}
                }
            },
            created(){
                get('/edit/edit',form1).then(res => {
                    this.f1 = res.data;
                    res.data.content = '<p>没有亲身经历过，就不要被假的新闻所误导</p><h2><strong>信仰</strong>&nbsp;&nbsp;</h2><p>菲律宾曾经是西班牙和美国的殖民地,所以在菲律宾留有浓重的西班牙和美国情节。</p><p>给人一种在亚洲具有西方文化的拉美国家。</p><p><img src="https://pic1.studyseo.net/f4ecf57af25648c36a65b230bb5b0574?h=500" alt="5分钟，告诉你一个真实菲律宾 第1张"></p><p>菲律宾是天主教国家，也是亚洲唯一的天主教国家。</p><h2>首都</h2><div></div>菲律宾是一个多民族的国家，地处热带海岛，处处充满浪漫的海岛风情。<p>\n' +
                        '菲律宾曾经在上个世纪80年代成为亚洲的中等发达国家</p><p>\n' +
                        '首都马尼拉曾经被誉为亚洲的小纽约</p><p>\n' +
                        '但是由于之后的政治动荡，以及政府贪污腐败 严重</p><p>\n' +
                        '目前菲律宾仍然处于发展中国家的行列</p><p><img src="https://pic1.studyseo.net/820b7e7d0bf379f97d91b121303a3a93?h=500" alt="5分钟，告诉你一个真实菲律宾 第2张"></p><h3>幸福感</h3><div></div>全亚洲幸福感最强的国家<p>\n' +
                        '虽然菲律宾不富有，菲律宾人民也比较贫穷</p><p>\n' +
                        '但是菲律宾人民却有很强的幸福感。</p><p>\n' +
                        '这个值得广大国人学一学啦。</p><p>\n' +
                        '正能量就在这里。钱－并不是可以直接给你带来快乐的东西。</p><p><img src="https://pic1.studyseo.net/18cf9cb5ed2fbfe43359941b56791ee3?h=500" alt="5分钟，告诉你一个真实菲律宾 第3张"></p><p>菲律宾人很热情好客。作为外国人，在菲律宾你会处处体会到当地人的热情和友好，受到的尊重会让你有一种很强的 满足感。</p><p>如果你遇到了困难，无论是在哪里，都会有很多热心的菲律宾人出来帮助你。</p><p>车子坏了有人帮你推，就算鞋子坏了也会有人乐意去帮你修的。</p><h3>气候</h3>\n' +
                        '气候宜人，环境舒适\n' +
                        '\n' +
                        '在菲律宾，你可以告别寒冷干燥的冬天，\n' +
                        '\n' +
                        '享受一年四季的温暖阳光；\n' +
                        '\n' +
                        '你可以告别口罩和雾霾，尽情享受热带的蓝天白 云和空气<p><img src="https://pic1.studyseo.net/2cab71a16b667dc523df845d929c5341?h=500" alt="5分钟，告诉你一个真实菲律宾 第4张"></p><h3>天空</h3>\n' +
                        '忘记在哪本书上看到过的，说菲律宾拥有全世界最美丽的天空。<p>\n' +
                        '全世界我虽然没有走遍，但是菲律宾的天空确实很美。</p><p>\n' +
                        '蓝色的天高高的，白色的云低低的，很是美丽。</p><p>\n' +
                        '夜晚的星空也犹如梦幻一般。</p><p>工作，学习，旅游于一体</p><p>\n' +
                        '作为年轻人，出来走走总是见识多多的</p><p>\n' +
                        '作为中国的近邻，来菲律宾无论是工作，学习，还是旅游，都是最佳的选择。</p><p><img src="https://pic1.studyseo.net/a06fb1fbfe48b219895880518ef9e976?h=500" alt="5分钟，告诉你一个真实菲律宾 第5张"></p><h3>美景</h3><div></div>菲律宾有太多太多的地方可以让你背包去旅游去浪漫了。<p>记得张卫健当年来菲律宾结婚吗？</p><p>\n' +
                        '记得梁静茹来长滩岛结婚吗？</p><p>\n' +
                        '菲律宾有长滩岛，多年来被评为世界10大美丽沙滩之一</p><p><img src="https://pic1.studyseo.net/93dc406ff9a7ca6593d508e9801bf099?h=500" alt="5分钟，告诉你一个真实菲律宾 第6张"></p><p>菲律宾有爱妮岛，美丽浪漫优雅，绝对适合二人世界</p><p><img src="https://pic1.studyseo.net/ac41de77125b049658e7ab22abc117aa?h=500" alt="5分钟，告诉你一个真实菲律宾 第7张"></p><p>菲律宾有著名的马龙火山，还是活火山哦。</p><p>治安</p><p>\n' +
                        '菲律宾的治安整体来说还是不错的，并没有新闻中说的那么可怕。</p><p>\n' +
                        '菲律宾是一个天主 教国家，宗教信仰加上90%以上的高等教育率保证了菲律宾人民的素养。而且我们相信从道德层面上的自我约束远强于法律层面的约束。</p><p>\n' +
                        '所以这直接产生了菲律宾人善良的民族特性。</p><p>总之，菲律宾是一个典型具有热带风情的国家</p><p>\n' +
                        '来到这里你一定会被当地人的热情友好而感染</p><p>\n' +
                        '乐天友善是菲律宾人的天性。</p> <div class="content-footer"><div class="collect-btn float-left  mr-3">收藏</div> <!----> <div></div></div>';
                    editor.txt.html('<p><------占位符------></p>' + res.data.content+'<p><------占位符------></p>')
                })
            },
            methods: {
                submit(e) {
                    let  txt = editor.txt.html();
                    //禁用提交按钮
                    this.f1.content = txt;
                    this.wait_loading = true;
                    this.ajax_message = '开始提交';
                    post('/edit/edit',this.f1).then(res => {
                        this.ajax_message = res.message;
                    }).catch(err => {
                        this.ajax_message = '接口错误';
                    }).finally(()=>{
                        this.wait_loading = false
                    })
                }
            }
        })
    </script>
    <script type="application/javascript" src="{{st "/js/question_editor.js"}}"></script>
{{end}}