{{define "head"}}
    <link rel="stylesheet" href="{{st "/css/manage.css"}}">
{{end}}
{{define "body"}}
{{include "m_member/_0_left"}}
123213423435
{{include "m_member/_0_right"}}
{{end}}
{{define "js"}}
    <script>
        var app = new Vue({
            el: '#vue-app',
            delimiters:['${','}'],
            data() {
                return {
                    view_data:{xxx:[], root:[],nav:[]},
                }
            },
            created(){
                post("/member_nav").then(res => {
                    if (res.code === 1){
                        this.view_data = res.data;
                    }
                })
            }
        })
    </script>
{{end}}