{{define "head"}}
<link rel="stylesheet" href="{{st "/css/manage.css"}}">
{{end}}
{{define "body"}}
{{include "m_member/_0_left"}}
    <ul>
        <li v-for="item in list"><a  :href="{{.it}}(item.did)">${item.t}</a></li>
    </ul>
{{include "m_member/_0_right"}}
{{end}}
{{define "js"}}
    <script>
        var app = new Vue({
            el: '#vue-app',
            delimiters:['${','}'],
            data() {
                return {
                    view_data:{xxx:[], root:[],},
                    list:[],
                }
            },
            created(){
                post("/member_nav").then(res => {
                    if (res.code === 1){
                        this.view_data = res.data;
                    }
                });
                post("/{{.index_type}}/list").then(res => {
                    if (res.code === 1){
                        this.list = res.data;
                    }
                })
            },
            methods:{
                a(id) {
                    return "/a/" + id
                },
                q(id){
                    return "/q/"+id
                }
            }
        })
    </script>

{{end}}