{{define "head"}}
    <link href="{{st "/css/manage.css"}}" rel="stylesheet">
{{end}}
{{define "body"}}
    <div class="row member-manage">

        <div v-for=" (item,index) in d" :key="index">
            <div>---------- ${index} ------------</div>
            <div v-html="item"></div>
            <div>---------- ${index} ------------</div>

        </div>

        <div v-if="r_message != ''" v-html="r_message" style="color: #fff;background: red"></div>

        <div style="padding: 30px 0 ">------------ ------- -------------</div>

        <div class="row">
            <div style="width: 450px">
                <div>
                    <button class="btn btn-primary m-2" style="width: 100%" @click="pass">通过</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div style="width: 450px">
                <div>
                    <button class="btn btn-danger m-2" style="width: 100%" @click="deny">拒绝</button>
                </div>
            </div>
        </div>

    </div>
{{end}}
{{define "js"}}
    <script>
        var app = new Vue({
            el: '#vue-app',

            delimiters: ['${', '}'],
            data() {
                return {
                    d: [],
                    r_message: '',
                }
            },
            created() {
                post("/member/data_check_view?id={{.ID}}").then(res => {
                    if (res.code === 1) {
                        this.d = res.data
                    }
                })
            },
            methods: {
                pass() {
                    post('/config/data_check', {type: 'pass', _id: this.d._id}).then(res => {
                        if (res.code !== 1) {
                            this.r_message = res.message;
                        }else{
                            window.location.href = '?'
                        }

                    });
                },
                deny() {
                    post('/config/data_check', {type: 'deny', _id: this.d._id}).then(res => {
                        window.location.href = '?'
                    });
                }
            }
        })
    </script>
{{end}}