{{define "head"}}
    <link href="{{st "/css/manage.css"}}" rel="stylesheet">
{{end}}
{{define "body"}}
    {{include "m_member/_0_left"}}
    <div class="row member-manage">
        <ul class="nav nav-tabs row">
            <li class="nav-item" v-for="item in list">
                <div> <span style="min-width: 350px;display: inline-block" >时间: ${item.time} --> 标题:  ${item.title}  </span> <a target="_blank" :href="cz.u" v-for=" cz in item.cz"> ${cz.t}</a> </div> <br>
            </li>
        </ul>
    </div>
    {{include "m_member/_0_right"}}
{{end}}
{{define "js"}}
    <script>
        var app = new Vue({
            el: '#vue-app',
            delimiters:['${','}'],
            data() {
                return {
                    list : [],
                    view_data:{xxx:[], root:[],nav:[]},
                }
            },
            created(){
                post("/member/data_check").then(res => {
                    if (res.code === 1){
                       this.list = res.data
                    }
                });
                post("/member_nav").then(res => {
                    if (res.code === 1){
                        this.view_data = res.data;
                    }
                })
            }
        })
    </script>
{{end}}