{{define "head"}}
    <link href="{{st "/css/manage.css"}}" rel="stylesheet">
{{end}}
{{define "body"}}
    <div class="row member-manage">
        <div>---------- title ------------ </div>
        <div v-html="d.title"></div>
        <div>---------- title ------------ </div>
        <br>
        <br>
        <br>
        <br>
        <div>------------ content -------------</div>
        <div v-html="d.content"></div>
        <div>------------ content -------------</div>
        <div>------------ ------- -------------</div>
        <div style="width: 450px">
                <div> <button class="btn btn-primary m-2" style="width: 100%" @click="pass">通过 </button> </div>
        </div>

    </div>
{{end}}
{{define "js"}}
    <script>
        var app = new Vue({
            el: '#vue-app',
            delimiters:['${','}'],
            data() {
                return {
                    d : []
                }
            },
            created(){
                post("/member/data_check_view?id={{.ID}}").then(res => {
                    if (res.code === 1){
                        this. d= res.data
                    }
                })
            },
            methods:{
                pass(){
                    post('/data_check',{type:'pass',_id:this.d._id}).then(res => {
                        console.log(res)
                    });
                }
            }
        })
    </script>
{{end}}