{{define "head"}}
{{end}}
{{define "body"}}
    <div class="card  bg-white rounded">
        <h5 class="card-header">用户信息</h5>
        <div class="card-body col-md-12 align-self-center">
            <form class="row g-3 needs-validation was-validated" id="f1" novalidate>
                <div class="col-md-12">
                    <label for="validationServer01" class="form-label">标题</label>
                    <input type="text" class="form-control is-valid" id="validationServer01" v-model="f1.title" required>
                </div>
                <div class="col-md-12">
                    <label for="validationServer01" class="form-label">内容</label>
                    <div id="f1-content"  v-html="f1.content_view"  spellcheck="false"></div>
                </div>

                <div v-if="ajax_message != ''">${ajax_message}</div>
                <div class="col-12">
                    <button class="btn btn-primary" type="button" disabled v-if="wait_loading">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>
                    <button class="btn btn-primary" type="submit"  v-else  @click.prevent="submit($event)"> 发布文章 </button>
                </div>
            </form>
        </div>
    </div>
{{end}}
{{define "js"}}
    <script type="application/javascript" src="{{st "/wangEditor-3.1.1/wangEditor.min.js"}}"></script>
    <script>
        var app = new Vue({
            el: '#vue-app',
            delimiters:['${','}'],
            data() {
                return {
                    ajax_message:'',
                    wait_loading:false,
                    f1:{

                    },
                }
            },
            created(){
                this.get_user_info()
            },
            methods: {
                get_user_info(){
                    post('/member/get_user_info',{}).then(res => {

                    })
                },
                submit(e) {
                    this.f1.content = editor.txt.html();
                    var l = document.querySelector('#f1').checkValidity();
                    if (!l) {
                        document.querySelector('#f1').classList.add("was-validated");
                        this.ajax_message = '验证未通过';
                        return false
                    } else {
                        document.querySelector('#f1').classList.remove("was-validated")
                    }
                    //禁用提交按钮
                    this.wait_loading = true;
                    this.ajax_message = '开始提交';
                    post('/article/add',this.f1).then(res => {
                        this.ajax_message = res.message;
                        debugger

                    }).catch(err => {
                        this.ajax_message = '接口错误';
                    }).finally(()=>{
                        this.wait_loading = false
                    })
                }
            }
        })
    </script>
{{end}}