{{define "head"}}
    <link rel="stylesheet" href="{{st "/css/manage.css"}}">
{{end}}
{{define "body"}}
{{include "m_member/_0_left"}}
<form class="row g-3 col-sm-6 m-auto needs-validation was-validated" id="f1" novalidate>
    <div class="col-md-12">
        <label for="validationServer01" class="form-label">姓名</label>
        <input type="text" class="form-control is-valid" disabled id="validationServer01" v-model="f1.user_name" required>
    </div>
    <div class="col-md-12">
        <label for="validationServer01" class="form-label">简要描述</label>
        <textarea  class="form-control is-valid" v-model="f1.des" required></textarea>
    </div>
    <div class="col-md-12">
        <label for="validationServer01" class="form-label">详细描述</label>
        <textarea  class="form-control is-valid" v-model="f1.des_detailed" required style="height: 150px"></textarea>
    </div>

    <div v-if="ajax_message != ''">${ajax_message}</div>

    <div class="col-12">
        <button class="btn btn-primary" type="button" disabled v-if="wait_loading">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
        </button>
        <button class="btn btn-primary" type="submit"  v-else  @click.prevent="submit($event)"> 提交并修改 </button>
    </div>
</form>
{{include "m_member/_0_right"}}
{{end}}
{{define "js"}}
    <script type="application/javascript" src="{{st "/wangEditor-3.1.1/wangEditor.min.js"}}"></script>
    <script>
        var app = new Vue({
            el: '#vue-app',
            delimiters:['${','}'],
            data() {
                return {
                    view_data:{xxx:[], root:[],},
                    ajax_message:'',
                    wait_loading:false,
                    f1:{

                    },
                }
            },
            created(){
                this.get_user_info();
                post("/member_nav").then(res => {
                    if (res.code === 1){
                        this.view_data = res.data;
                    }
                })
            },
            methods: {
                get_user_info(){
                    post('/member/get_user_info',{}).then(res => {
                        this.f1 = res.data
                    })
                },
                submit(e) {

                    var l = document.querySelector('#f1').checkValidity();
                    if (!l) {
                        document.querySelector('#f1').classList.add("was-validated");
                        this.ajax_message = '验证未通过';
                        return false
                    } else {
                        document.querySelector('#f1').classList.remove("was-validated")
                    }
                    //禁用提交按钮
                    this.wait_loading = true;
                    this.ajax_message = '开始提交';
                    post('/member/set_user_info',this.f1).then(res => {
                        this.ajax_message = res.message;
                    }).catch(err => {
                        this.ajax_message = '接口错误';
                    }).finally(()=>{
                        this.wait_loading = false
                    })
                }
            }
        })
    </script>
{{end}}