{{define "head"}}
    <link rel="stylesheet" href="{{st "/css/member.css"}}">
{{end}}
{{define "body"}}
    <div class="row g-0">
        <div class="col-md-8 p-3" style="background: #fff">
            {{include "data/article_index_list"}}
            <div v-for="item in load_list" v-html="item"></div>
            <div v-if="message != ''" v-html="message"></div>
            <a class="visually-hidden" href="{{.next_link}}">下一页</a>
        </div>
        <div class="col-md-4 pl-2">
            <div class="member-right-box mt-2  mt-sm-0">
                <div class="member-right-box-title"> 热门文章 </div>
                <ul class="list-unstyled ">
                    {{range .article}}
                        <li><a href="{{.u}}" class="text-decoration-none">{{.t}}</a> </li>
                    {{end}}
                </ul>
            </div>
            <div class="member-right-box mt-2  mt-sm-0">
                <div class="member-right-box-title"> 最新文章</div>
                <ul class="list-unstyled ">
                    {{range .article_new}}
                        <li><a href="{{.u}}" class="text-decoration-none">{{.t}}</a> </li>
                    {{end}}
                </ul>
            </div>
        </div>
    </div>
{{end}}
{{define "js"}}
    <script src="{{st "/js/last_activity.js"}}"></script>
    <script>app.next='{{.next_link}}'</script>
{{end}}