{{define "head"}}
<style>
    #article{
      background: #FFF;
      border-radius: 2px;
      min-height: 150px;
      box-shadow: 0 1px 3px rgba(0,0,0,.03);
    }
    #article h1{
        font-size: 1.544em;
        border-bottom: 1px solid #f0f0f0;
        padding: 15px 5px ;
        font-weight: 700;
    }
    #article .title{
        position: relative;
    }
    #article .title span{
        background-color: #00AAEE;
        left: 0;
        width: 4em;
        height: 3px;
        bottom: -1px;
        position: absolute;
    }
    #article .info{
        font-size: 0.87777em;
        color: #828282;

    }
    #article .info a{
        text-decoration: none;
        color: #828282;
    }
    #article  .author img{
        border-radius: 50%;
        border:1px solid #b7b7b7;
    }
    #article .author{
        margin-right: 15px;
    }
    #article .content{
        color: #333;
    }
    #comment{
        background: #FFF;
    }
    #comment h3 {
        font-size: 1.1111111em;
        font-weight: 700;
        border-bottom: 2px solid #00AAEE;
        display: inline;
    }
    #comment .title{
        border-bottom: 1px solid #f0f0f0;
    }
</style>
{{end}}
{{define "body"}}
<div class="row">
    <div class="col-md-8 row no-gutters">
        <div  id="article">
            <div class="top">
                <div class="title">
                    <h1>{{.art.T}}</h1>
                    <span></span>
                </div>
                <div class="info row">
                    <span class="col-md-8 mb-2 mt-2">
                        <span class="author mr-3">作者：<a href="{{call .mu .member_info}}" title="会员-{{.member_info.UserName}}"><img src="{{call .avatar .member_info.Avatar}}?w=20" alt="{{.member_info.UserName}}-会员-头像">  {{.member_info.UserName}} </a></span>
                        <span class="show ">浏览： {{.art.Show}}</span>
                    </span>
                    <span class="time col-md-12">时间：{{.art.InfoArticle.ModifyTime.Format "2006-01-02 15:04:05" }}</span>
                </div>
            </div>
            <div class="content mt-4">
                {{.art.InfoArticle.Content|html}}
            </div>
        </div>
        <div class="mt-4" id="comment">
            <div class="title pt-3">
                <h3>网友评论</h3>
            </div>
            <div class="content mt-3">

            </div>
        </div>
    </div>
    <div class="col-md-4">
        right
    </div>
</div>
{{end}}
{{define "js"}}{{end}}