{{define "head"}}<link rel="stylesheet" href="{{st "/css/article.css"}}">{{end}}
{{define "body"}}
<div class="row g-0">
    <div class="col-md-8 row g-0">
        <div  id="article" class="p-3">
            <div class="top">
                <div class="title">
                    <h1>{{.art.T}}</h1>
                    <span></span>
                </div>
                <div class="info row">
                    <span class="col-md-8 mb-2 mt-2">
                        <span class="author mr-3">作者：<a href="{{call .mu .member_info}}" title="会员-{{.member_info.UserName}}"><img src="{{call .avatar .member_info.Avatar}}?w=20" alt="{{.member_info.UserName}}-会员-头像">  {{.member_info.UserName}} </a></span>
                        <span class="show ">浏览： {{.art.Show}}</span>
                    </span>
                    <span class="time col-md-12">时间：{{.art.InfoArticle.ModifyTime.Format "2006-01-02 15:04:05" }}</span>
                </div>
            </div>
            <div class="content mt-4">
                {{.art.InfoArticle.Content|html}}
            </div>
        </div>
        <div class="mt-4 p-3" id="comment">
            <div class="title pt-3">
                <h3>网友评论</h3> <span class="ml-3 comment-size-tip">{{.art.RC}} 条评论</span>
            </div>
            <div class="content mt-3">{{$comment_len := len .comment}}
                {{if eq $comment_len 0}}
                    <p>暂无评论，快来做第一个评论的小伙伴吧!!!!</p>
                {{else}}

                    <div id="comment-list">
                        {{range .comment}}
                        <div class="comment-block mt-4 mb-2">
                            <div class="author-avatar row g-0" @click="j('{{call $.mu .member_info}}')">
                                <div class="col-auto mr-3">
                                    <img src="{{.user_info.avatar}}?w=35"  alt="会员-{{.user_info.name}}-头像">
                                </div>
                                <div class="col-auto align-self-center">
                                    <span class="author-name"> {{.user_info.name}} </span><br>
                                    <span>火云邪神，超脱 6 界之外</span>
                                </div>
                            </div>
                            <div class="tip mt-2 mb-2"><span class="mt-2">发布于： {{.user_info.time}}</span> {{if ne .zan 0}}<span> {{.zen}} 人赞同</span>{{end}}</div>
                            <div>{{.txt}}</div>
                            <div class="tools mt-2 mb-2">
                                <span class="zan mr-3 " data-zan-user="{{.zan_user|json}}"> 赞 {{.zan}} </span>
                                <span class="discuss mr-3"> {{if eq .rc 0}} 添加评论 {{else}} {{.rc}} 条评论 {{end}}</span>
                                <span class="report mr-3"> 举报 </span>
                            </div>
                        </div>
                        {{end}}
                    </div>
                {{end}}
                <div  v-if="user_info.mid">
                    <textarea class="form-control" rows="4" v-model="edit_root.txt"></textarea>
                    <div v-if="ajax_message != ''" v-html="ajax_message"></div>
                    <button class="btn btn-primary  mb-2 mt-2 float-right"  type="button" disabled v-if="wait_loading">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>
                    <button class="btn btn-primary  mb-2 mt-2 float-right" type="submit"  @click.prevent="submit_comment_root($event)">提交评论</button>
                </div>
                <div v-else>
                    <p> 需要 <span class="link-info " @click="just_login">登录</span> 才可以进行评论 </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">

    </div>
</div>
{{end}}
{{define "js"}}
<script src="{{st "/js/article.js"}}"></script>
<script> app.edit_root.did ={{.art.DID}} </script>
{{end}}