<script>
    const API = "\/api\/manage";
    const APITOKEN = '____token';
</script>

<script src="/static/btv5/axios.min.js" type="application/javascript"></script>
<script type="application/javascript" src="/static/btv5/vue.js"></script>
<script type="application/javascript" src="/static/js/base.js"></script>
<script>
    var app = new Vue({
        el: '#vue-app',
        delimiters:['${','}'],
        data() {
            return {
                username: '',
                password: '',
                wait_loading:false,
                ajax_message:'',
                sign:'{{.sign}}',
            }
        },
        created(){
            this.submit()
        },
        methods: {
            submit(e) {
                post('/login',{sign:this.sign}).then(res => {
                    this.ajax_message = res.message;

                    if (res.token != undefined ){
                        this.ajax_message = '登录成功';

                        user_client.setToken(res.token);
                        if (user_client.check() === true){
                            debugger
                            window.location.href = "/";
                            return
                        }
                        this.ajax_message = '鉴权失败';
                    }
                    this.wait_loading = false;


                }).catch(err => {
                    debugger
                    this.ajax_message = '接口错误';
                    this.wait_loading = false
                })
            }
        }
    })
</script>
