{{define "head"}}
{{/*    <link rel="stylesheet" href="{{st "/css/member.css"}}">*/}}
{{end}}
{{define "body"}}
    {{include "layouts/_left_start"}}
        {{include "data/home_index_list"}}
        <div v-for="item in load_list" v-html="item"></div>
        <div v-if="message != ''" v-html="message"></div>
        <a class="visually-hidden" href="{{.next_link}}">下一页</a>
    {{include "layouts/_left_stop"}}
    {{include "layouts/_right_start"}}
        <div class="-box mt-2  mt-sm-0">
            <div class="-title"> 热门文章</div>
            <ul class="list-unstyled ">
                {{range .article}}
                    <li><a href="{{.u}}" class="text-decoration-none">{{.t}}</a> </li>
                {{end}}
            </ul>
        </div>
        <div class="-box mt-2  mt-sm-0">
            <div class="-title"> 热门提问</div>
            <ul class="list-unstyled ">
                {{range .question}}
                    <li><a href="{{.u}}" class="text-decoration-none">{{.t}}</a> </li>
                {{end}}
            </ul>
        </div>
        <div class="-box mt-2  mt-sm-0">
            <div class="-title"> 最近活跃会员</div>
            <ul class="list-unstyled  clearfix">
                {{range .members}}
                    <li class="float-left index-members">
                        <a href="{{.u}}" title="会员-{{.t}}" ><img src="{{.avatar}}?w=50" alt="会员-{{.t}}"></a>
                    </li>
                {{end}}
            </ul>
        </div>
    {{include "layouts/_right_stop"}}
{{end}}
{{define "js"}}
    <script src="{{st "/js/last_activity.js"}}"></script>
    <script>app.next='{{.next_link}}'</script>
{{end}}