#article{
    background: #FFF;
    border-radius: 2px;
    min-height: 150px;
    box-shadow: 0 1px 3px rgba(0,0,0,.03);
}
#article h1{
    font-size: 1.544em;
    border-bottom: 1px solid #f0f0f0;
    padding: 15px 5px ;
    font-weight: 700;
}
#article .title{
    position: relative;
}
#article .title span{
    background-color: #00AAEE;
    left: 0;
    width: 4em;
    height: 3px;
    bottom: -1px;
    position: absolute;
}
#article .info{
    font-size: 0.87777em;
    color: #828282;

}
#article .info a{
    text-decoration: none;
    color: #828282;
}
#article  .author img{
    border-radius: 50%;
    border:1px solid #b7b7b7;
    height: 20px;
    width: 20px;
    display: inline-block;
}
#article .author{
    margin-right: 15px;
}
#article .content{
    color: #333;
}
#comment{
    background: #FFF;
}
#comment h3 {
    font-size: 1.1111111em;
    font-weight: 700;
    border-bottom: 2px solid #00AAEE;
    display: inline;
}
#comment .title{
    border-bottom: 1px solid #f0f0f0;
}
.comment-size-tip{
    font-size: 0.86666rem;
}
.comment-block{
    border-bottom:1px solid  #b7b7b7;
}
.comment-block .author-name{
    font-size: 15px;
    font-weight: 600;
}
.comment-block .author-avatar img{
    border-radius: 5px;
    border: 1px solid #b7b7b7;
    height: 43px;
    width: 43px;
}
.comment-block .author-avatar{
    cursor: pointer;
}
.comment-block .tip{
    color: #8590a6;

}
.tools .zan{
    padding: 5px 10px;
    color: #0084ff;
    background: rgba(0,132,255,.1);
    border-color: transparent;
    cursor: pointer;
    border-radius: 3px;
}
.tools .zan-active{
    color: #fff;
    background: #0084ff;
}