/* Show it is fixed to the top */
body {
    min-height: 75rem;
    padding-top: 4.5rem;
    background: #f5f6f9;
    font-size: 15px;
}
.login-true span{
    cursor: pointer;
    color: white;
}
.login-true{
    margin-right: 25px;
}
.w-e-text-container{
    z-index: 1!important;
}
.w-e-toolbar,.w-e-menu{
    z-index: 100!important;
}
.w-e-toolbar {
    flex-wrap: wrap;
}